.header {
    padding: .7cm 0 1cm;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar {
    border-radius: 50%;
    height: 2.7cm;
    width: 2.7cm;
}

.full-name {
    margin: .3cm 0;
}

.links-row{
    margin-top: 5px;
}
.links-item {
    display: inline-block;
    position: relative;
    padding: 10px;
    text-decoration: none;
}

.links-item:after {
    content: ' | ';
    position: absolute;
    right: 0;
}

.links-item:last-child:after {
    content: '';
}

/*changes by yura*/
.contacts-row{
    padding: 5px;
    text-align: center;
}
.sub-heading{
    padding-right: 75px;
    font-size: 26px;
    text-align: left;
    font-weight: normal;
    margin-left: -3px;
}

table{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
tr{
    display:flex;
    /*align-items: center;*/
    margin-bottom: 4%;
}
h2{
    font-size: 13px;
}
caption{
    margin-bottom: 1%;
}
.leftSide, .sub-heading-inline {
    width: 35%;
}
.rightSide, .inline-table-container {
    width: 65%;
}

.sub-heading-inline {
    padding-right: 0;
}

.inline-table-container {
    padding-top: 8px;
}

.full-width-table {
    width: 100%;
}

.sub-table-left {
    width: 40%;
}

.sub-table-right {
    width: 58%;
    margin-left: 2%;
}


.courses tr {
    margin-bottom: 3%;
}

.languages tr {
    margin-bottom: 1%;
}

.courses tr:last-child, .languages tr:last-child, .references tr:last-child {
    margin-bottom: 5%;
}

.languages-item {
    font-size: 12px;
    padding-right: 10px;
    position: relative;
    display: inline-block;
}

.languages-item:after {
    content: ' | ';
    color: #798291;
    position: absolute;
    right: 4px;
}
.languages-item:last-child:after {
    content: '';
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills-item {
    width: 48%;
}
