@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #293241;
}

body {
    background: rgb(204,204,204);
    padding: 16px 0;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

tbody {
    width: 100%;
}
.page {
    background: white;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.page {
    width: 21cm;
    padding: 0 1cm;
}
@media print {
    body, .page {
        margin: 0;
        box-shadow: none;
    }
}

.title {
    color: #293241;
}

.text {
    color: #798291;
}
