@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #293241;
}

body {
    background: rgb(204,204,204);
    padding: 16px 0;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

tbody {
    width: 100%;
}
.page {
    background: white;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.page {
    width: 21cm;
    padding: 0 1cm;
}
@media print {
    body, .page {
        margin: 0;
        box-shadow: none;
    }
}

.title {
    color: #293241;
}

.text {
    color: #798291;
}

.header {
    padding: .7cm 0 1cm;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar {
    border-radius: 50%;
    height: 2.7cm;
    width: 2.7cm;
}

.full-name {
    margin: .3cm 0;
}
/*changes by yura*/
.contacts-row{
    padding: 5px;
    text-align: center;
}
.sub-heading{
    padding-right: 75px;
    font-size: 26px;
    text-align: left;
    font-weight: normal;
    margin-left: -3px;
}
table{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
tr{
    display:flex;
    /*align-items: center;*/
    margin-bottom: 4%;
}
h2{
    font-size: 12px;
}
caption{
    margin-bottom: 1%;
}
.leftSide{
    width: 30%;
    min-height: 70px;
}
.rightSide{
    width: 70%;
    min-height: 70px;
}



